!!!
%html
  %head
    %title Shiplington
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ :name => "google-site-verification", :content => "sS6fzYM7e7ilInwWl85S2lQ1P4ig_oLH8lRsCoReWgo" }

    = javascript_include_tag "google_analytics"
  %body
    = yield
